*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.pop-up{
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #91a3bf;
    min-width: 500px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    z-index: 10;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pop-up-header {
    padding: 20px 20px;
    margin-top: 1rem;
    font-size: 2rem;

}

.close-btn{
    margin-left: 30rem;
    font-size: 2rem;
    background-color: inherit;
    border: none;
}

.close-btn i{
    color: rgb(37, 36, 36);
}

.close-btn i:hover{
    color: #ddd;
}
.close-btn:focus { 
    outline: none;
}
.close-btn:hover{
    cursor: pointer;
}

.input-icons i{
    position: absolute;
   
}
  
.input-icons {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 1.5 rem;
 
}
  
.icon {
    margin-top: 5px;
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
    opacity: 0.5;
}
  
.input-field {
    width: 80%;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 1.5;
    border-radius: 5px;
    border: none;
    background-color: white;
  
}

.input-field:hover{
    box-shadow: 2px 1.5px 1px rgba(7, 1, 1, 0.6);
}

.input-field:focus{
    outline: none;
}

.pop-up-login{
    width: 90%;
    margin:  2rem auto 2rem auto;
}

.login-button{ 
    border: none;
    border-radius: 30px;
    width: 80%;
    font-size: 1rem;
    background-color: rgb(37, 36, 36);
    color: white;
    font-weight: bold;
    padding: 10px;
}

.login-button:hover{
    color:rgb(37, 36, 36);
    background-color: #ddd;    
}

.login-button:focus{
    outline: none;
}

.home-body h1{
    padding: 2rem;
    color: #d5773a;
    font-size: 4rem;
    text-decoration: underline;
    letter-spacing: 2px;
    font-weight: 3400;
}

.nav{
    font-size: 2rem;
    margin-left: 70%;
}

.nav ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
}
.nav li a{
    color: inherit;
}

.nav ul li:hover{
    color: white;
    cursor: pointer;
}

.nav li button{
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: #e36236;
}

.nav li button:hover{
    cursor: pointer;
    color: #f9b457 ;
    border: none;
    outline: none;
}

.addStudent::before{
    border-radius: 10px;
    background-color: #ef8d50;
    color: white;
    content: attr(data-title);
    display: none;
    font-size: 1rem;
    padding: 10px;
    position: absolute;
    left: 58%;
    z-index: 1;
}
.addStudent:hover::before{
    display: block;
}

.nav li button:focus{
    border: none;
    outline: none;
}
.home-body{
    text-align: center;
    background-color: #fbe4b8;
    color: #7a4235 ;
}

.home-main{
    margin: auto;
    position: relative;
    max-width: fit-content;
}

.home-header{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    font-size: 1.2rem;
    justify-content: space-between;
}

.home-search{
    display: flex;
}

.home-search input{
    width: 20rem;
    background-color: inherit;
}
.search-field{
    border: 3px solid #eeba81;
    border-radius: 5px 0 0 5px;
    font-size: 1.1rem;
    color: inherit;
}
.search-field:focus{
    border: 3px solid #ef8d50;
    outline: none;
    font-size: 1.5rem;
}
.search-field::placeholder{
    padding-left: 1rem;
    font-size: 1.1rem;
}

.button-search{
    padding: 15px;
    background-color: #ef8d50;
    border-radius: 0 5px 5px 0px;
    color: white;
    font-size: 1.1rem;
    border: 3px solid #eeba81;
}

.button-search:hover{
    cursor: pointer;
    background-color: inherit;
    border: 3px solid #ef8d50;
    color:#ef8d50;
    font-weight: bolder;
}

.button-search:focus{
    outline: none;
}

table,th,td{
  background-color: blanchedalmond;
  border: 2px solid #b38b60;
  font-size: 1.5rem;
  
}
th,td{
    padding: 10px;
}
table{
    margin: auto;
}

.td-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.td-buttons button{
    padding: 10px;
    cursor: pointer;
    border: none;
    transform: scale(1.8);
    background-color: inherit;
}

.td-buttons button:focus{
    outline: none;
    border: none
}

.td-buttons button:hover{
    transform: scale(1.9);
    color: #873c1c;
}
table .delete,.exit{
    color: #e36236;
}

table .edit{
    color: blue;
}

table .update{
    color: green;
}
